{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	<div class="container text-center my-5">
		<h1>Demande d'informations</h1>
		<p>Vous êtes un particulier ou un professionnel?
			<br>
			Vous souhaitez obtenir des informations sur la cave à thés?
			<br>Contactez-nous via le formulaire ci-dessous, par mail ou par téléphone, nous vous répondrons dans les meilleurs délais</p>
	</div>
	<div class="container form">
		<div class="mb-3">
			{{ form_start(form) }}
			<div class="warning">
				{{ form_errors(form) }}
			</div>
			<div class="col-sm-3 my-1 ">
				{{ form_row(form.isPro) }}
			</div>
			<div class="input-group">
				<div class="col-sm-2 my-1 ">
					{{ form_row(form.name) }}
				</div>
				<div class="col-sm-2 my-1 mx-5 ">
					{{ form_row(form.firstName) }}
				</div>
				<div class="col-sm-2 my-1 mx-5">
					{{ form_row(form.society) }}
				</div>
			</div>
			<div class="input-group">
				<div class="col-sm-3 my-1 mx-5">
					{{ form_row(form.email) }}
				</div>
				<div class="col-sm-2 my-1 mx-5">
					{{ form_row(form.phone) }}
				</div>
				<div class="col-sm-3 my-1 mx-5">
					{{ form_row(form.object) }}
				</div>
			</div>
			<div class="my-1 ">
				{{ form_row(form.comment) }}
			</div>
			<button class="btn btn-outline-dark mx-3 my-3 col-sm-3" type="submit">Envoyer</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}{% endblock %}
