<p>envoyé par :
	{{ firstName }}
	{{ name }}
</p>

<p>qui est un :
	{{ isPro }}
</p>
<p>Si c'est une société celle-ci est : "
	{{ society }}
	"</p>
<p>dont le mail est :
	{{ mail }}</p>
<p>
	le numéro de téléphone est :
	{{ phone }}
</p>
<p>avec comme message associé : "
	{{ comment|raw }}
	"</p>
